/* nav */
nav{
    background-image: url("img/pattern.png");
    background-color: #4ea0ff;
    background-size: auto 200%;
}

#logo{
    width: 370px;
    height: auto;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 6px;
}
/* fine nav */


/* header */
#author{
    color: gray;
}

#author-link{
    font-size:  #4ea0ff;
    text-decoration: none;
}

#date{
    color: gray;
    /* l'unità di misura em indica una proporzione del testo principale della pagina */
    font-size: 0.8em;
    font-size: 12pxS;
}

/* fine header */


/* sezione foto */

figure{
    margin: 0px;
}

/* fine sezione foto */

/* sezione tabella */

table{
    border-collapse: collapse;
}
thead{
    background-color: #4ea0ff;
    color: white;
}

.lightblue-background{
    background-color: azure;
}

.colonna-25{
    width: 25%;
}

/* fine sezione tabella */

/* sezione immagini */

h2{
    font-size: 1.1em;
    color: gray;
}

.article-image{
    background-image: url(img/monitor.jpg);
    background-size: 100% 100%;

    width: 250px;
    height: 180px;

    margin-bottom: 12px;

    color: white;
    font-weight: bold;
}

/* fine sezione immagini */