.titolo-principale{
   margin: 1px;
   background-color: rgb(0, 166, 255);
   background-image: url(img/pattern.png);
   font-size: 80px;
}

h1{
    color: white;
    width: auto;
}

h2{
    color: gray;
}

h3{
    color: gray;
}

.testo-azzurro{
    color: rgb(0, 140, 255);
    background-color: white;
}

#paragrafo-puntato{
    padding-inline-start: 15px;
}

span{
    background-color: yellow;
}

th{
    background-color: rgb(0, 115, 255);
    color: white;
}

tr{
    background-color:rgb(0, 157, 255);
    color: black;
}

.seconda-riga{
    background-color: white;
    color: black;
}
