#titolo-principale{
   margin: 1px;
   background: url(pattern.png) color(rgb rgb(0, 191, 255) green blue);
}

h2{
    color: gray;
}

h3{
    color: gray;
}

span{
    background-color: yellow;
}

#paragrafo-puntato{
    padding-inline-start: 15px;
}

